/* src/ProductRegistration.css */

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

h3 {
    color: #444;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button[type="button"] {
    background-color: #28a745;
}

button[type="button"]:hover {
    background-color: #218838;
}

.qr-code,
.qr-url {
    text-align: center;
    margin-top: 20px;
}

.qr-code img {
    width: 150px;
    height: 150px;
}

.qr-url a {
    color: #007bff;
    text-decoration: none;
}

.qr-url a:hover {
    text-decoration: underline;
}
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
   